<!-- start custom head snippets -->
<a href="#page_top" class="page_top_btn"></a>
<div id="page_top"></div> <!-- thi is for css nly top scroll-->
<!--<a href="#wrap" class="pagetop"></a>-->
<!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js" ></script>
<p class="pagetop"><a href="#top">▲</a></p>-->
<script>
    $(document).ready(function() {
      var pagetop = $('.pagetop');
        $(window).scroll(function () {
           if ($(this).scrollTop() > 100) {
                pagetop.fadeIn();
           } else {
                pagetop.fadeOut();
                }
           });
           pagetop.on("click",function () {
               $('body, html').animate({ scrollTop: 0 }, 500);
                  return false;
                                        });
    });
    </script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TN6XXL3XL8"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-TN6XXL3XL8');
</script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
