---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "minimal-mistakes/variables"; $doc-font-size: 12 !default;
@import "minimal-mistakes/variables"; $type-size-1: 2.041em !default; // ~39.056px
@import "minimal-mistakes/variables"; $type-size-2: 1.253em !default; // ~31.248px
@import "minimal-mistakes/variables"; $type-size-3: 1.163em !default; // ~25.008px
@import "minimal-mistakes/variables"; $type-size-4: 1.15em !default; // ~20px
@import "minimal-mistakes/variables"; $type-size-5: 0.85em !default; // ~16px
@import "minimal-mistakes/variables"; $type-size-6: 0.7em !default; // ~12px
@import "minimal-mistakes/variables"; $type-size-7: 0.6em !default; // ~11px
@import "minimal-mistakes/variables"; $type-size-8: 0.5em !default; // ~10px
@import "minimal-mistakes/variables"; 
